
app/integrations/coverage/
app/integrations/coverage/lcov.info
app/integrations/coverage/lcov-report/src/views/js/index.html
app/integrations/coverage/lcov-report/src/views/js/home.js.html
app/integrations/coverage/lcov-report/src/utils/timestamp.js.html
app/integrations/coverage/lcov-report/src/utils/name-to-initials.js.html
app/integrations/coverage/lcov-report/src/utils/index.html
app/integrations/coverage/lcov-report/src/store/modules/user.js.html
app/integrations/coverage/lcov-report/src/store/modules/index.html
app/integrations/coverage/lcov-report/src/store/modules/dashboard.js.html
app/integrations/coverage/lcov-report/src/store/modules/authentication.js.html
app/integrations/coverage/lcov-report/src/store/modules/attendance.js.html
app/integrations/coverage/lcov-report/src/store/modules/announcement.js.html
app/integrations/coverage/lcov-report/src/store/index.js.html
app/integrations/coverage/lcov-report/src/store/index.html
app/integrations/coverage/lcov-report/src/router.js.html
app/integrations/coverage/lcov-report/src/registerServiceWorker.js.html
app/integrations/coverage/lcov-report/src/plugins/vuetify.js.html
app/integrations/coverage/lcov-report/src/plugins/index.html
app/integrations/coverage/lcov-report/src/main.js.html
app/integrations/coverage/lcov-report/src/index.html
app/integrations/coverage/lcov-report/src/config/index.js.html
app/integrations/coverage/lcov-report/src/config/index.html
app/integrations/coverage/lcov-report/src/assets/js/index.html
app/integrations/coverage/lcov-report/src/assets/js/color.js.html
app/integrations/coverage/lcov-report/src/api/user.js.html
app/integrations/spec/home/mobile/__image_snapshots__/home-spec-js-home-page-should-clock-in-well-3-snap.png
app/integrations/spec/home/mobile/__image_snapshots__/home-spec-js-home-page-should-clock-in-well-2-snap.png
app/integrations/spec/home/mobile/__image_snapshots__/home-spec-js-home-page-should-clock-in-well-1-snap.png
app/integrations/screenshots/errors/Home-Page_should-clock-in-well.png
app/integrations/helpers/setupTests.js
app/integrations/helpers/playwright-setup.js
app/integrations/coverage/lcov.info
app/integrations/coverage/lcov-report/src/views/js/index.html
app/integrations/coverage/lcov-report/src/views/js/home.js.html
app/integrations/coverage/lcov-report/src/utils/timestamp.js.html
app/integrations/coverage/lcov-report/src/utils/name-to-initials.js.html
app/integrations/coverage/lcov-report/src/utils/index.html
app/integrations/coverage/lcov-report/src/store/modules/user.js.html
app/integrations/coverage/lcov-report/src/store/modules/index.html
app/integrations/coverage/lcov-report/src/store/modules/dashboard.js.html
app/integrations/coverage/lcov-report/src/store/modules/authentication.js.html
app/integrations/coverage/lcov-report/src/store/modules/attendance.js.html
app/integrations/coverage/lcov-report/src/store/modules/announcement.js.html
app/integrations/coverage/lcov-report/src/store/index.js.html
app/integrations/coverage/lcov-report/src/store/index.html
app/integrations/coverage/lcov-report/src/router.js.html
app/integrations/coverage/lcov-report/src/registerServiceWorker.js.html
app/integrations/coverage/lcov-report/src/plugins/vuetify.js.html
app/integrations/coverage/lcov-report/src/plugins/index.html
app/integrations/coverage/lcov-report/src/main.js.html
app/integrations/coverage/lcov-report/src/index.html
app/integrations/coverage/lcov-report/src/config/index.js.html
app/integrations/coverage/lcov-report/src/config/index.html
app/integrations/coverage/lcov-report/src/assets/js/index.html
app/integrations/coverage/lcov-report/src/assets/js/color.js.html
app/integrations/coverage/lcov-report/src/api/user.js.html
app/integrations/coverage/lcov-report/src/api/mock/modules/index.html
app/integrations/coverage/lcov-report/src/api/mock/modules/api-routes.js.html
app/integrations/coverage/lcov-report/src/api/mock/index.js.html
app/integrations/coverage/lcov-report/src/api/mock/index.html
app/integrations/coverage/lcov-report/src/api/index.html
app/integrations/coverage/lcov-report/src/api/dashboard.js.html
app/integrations/coverage/lcov-report/src/api/authentication.js.html
app/integrations/coverage/lcov-report/src/api/attendance.js.html
app/integrations/coverage/lcov-report/src/api/announcement.js.html
app/integrations/coverage/lcov-report/sorter.js
app/integrations/coverage/lcov-report/prettify.js
app/integrations/coverage/lcov-report/prettify.css
app/integrations/coverage/lcov-report/index.html
app/integrations/coverage/lcov-report/block-navigation.js
app/integrations/coverage/lcov-report/base.css
app/integrations/.nyc_output/ec31ed34-e153-4341-bf03-164a60d56ee5.json
app/integrations/.nyc_output/e61f328c-0fd6-4e24-9587-97ccb746173f.json
app/integrations/.nyc_output/db9f60d9-3800-4d9b-a3dd-e1e30285d834.json
app/integrations/.nyc_output/c9b2ea10-7fcc-46ca-b4a6-d6c219e7449b.json
app/integrations/.nyc_output/b92f63bb-bb62-47be-9291-8c77b6fef358.json
app/integrations/.nyc_output/aef7f33b-be73-4b44-ab5f-cffd9214e5e8.json
app/integrations/.nyc_output/ad1355a2-ff82-4f78-860c-f5b0a6b0905a.json
app/integrations/.nyc_output/9b8c1389-9e97-4af4-a6bc-611fe9a6127f.json
app/integrations/.nyc_output/9592c528-06ba-4ca3-8be1-a43aad4bb5c9.json
app/integrations/.nyc_output/8e26f5a5-c92f-479f-86cf-24782bf64905.json
app/integrations/.nyc_output/8d6bbc47-25f2-4377-861f-e784e98d6b45.json
app/integrations/.nyc_output/8c905b71-73fc-42c5-805c-c330d39f39c3.json
app/integrations/.nyc_output/8492353b-63b9-49f6-84d5-c9637d640824.json
app/integrations/.nyc_output/56a8f6b4-fc6c-414c-baee-505f52fa4fd9.json
app/integrations/.nyc_output/4e785c23-cf20-4619-b51b-c0e6c8914308.json
app/integrations/.nyc_output/4d895496-1080-44a6-9e3c-e66f560a3714.json
app/integrations/.nyc_output/3bc4d55f-d768-4784-bd44-fb648788a1ca.json
app/integrations/.nyc_output/21bd31a2-0e75-4ca1-a15e-11fedf50402c.json
app/integrations/.nyc_output/151bbaa2-3325-4b27-b40f-a254e0690b6e.json
app/integrations/.nyc_output/0003a41c-dae3-4ede-92d8-9c2497230f72.json
