$blu-blue: #0095da;
$blu-blue-light-4: #daf3ff;
$blu-blue-light-3: #a7e3ff;
$blu-blue-light-2: #74d3ff;
$blu-blue-light-1: #41c3ff;
$blu-blue-light: #0eb3ff;
$blu-blue-dark: #0072a7;
$blu-blue-dark-1: #004f74;

$main-font: "effra";
$main-font-bold: "efframedium";
